In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
climate = pd.read_csv('Climate_Zone_of_each_country.csv')
population = pd.read_csv('FAOSTAT_data_Annual_Population_2009-2018.csv')
food_balance = pd.read_csv('FAOSTAT_data_Food_Balance_2009-2013.csv')
food_balance2 = pd.read_csv('FAOSTAT_data_Food_Balance_2014-2018.csv')
fertilizer = pd.read_csv('FAOSTAT_Fertilizer.csv')
pesticides = pd.read_csv('FAOSTAT_Pesticides.csv')

In [3]:
crops = pd.read_csv('Production_Crops_E_All_Data_NOFLAG.csv', encoding='ISO-8859-1')

In [4]:
population.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2009,2009,1000 persons,28394.813,X,International reliable sources,NaN
1,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2010,2010,1000 persons,29185.507,X,International reliable sources,NaN
2,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2011,2011,1000 persons,30117.413,X,International reliable sources,NaN
3,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2012,2012,1000 persons,31161.376,X,International reliable sources,NaN
4,OA,Annual population,2,Afghanistan,511,Total Population - Both sexes,3010,Population - Est. & Proj.,2013,2013,1000 persons,32269.589,X,International reliable sources,NaN

In [5]:
crops.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
50246,5817,Net Food Importing Developing Countries,1729,"Treenuts, Total",5419,Yield,hg/ha,6118.0,6318.0,6618.0,...,4728.0,5415.0,5429.0,5417.0,5198.0,5177.0,5234.0,5514.0,5251.0,5461.0
50247,5817,Net Food Importing Developing Countries,1729,"Treenuts, Total",5510,Production,tonnes,255724.0,295318.0,315667.0,...,1338811.0,1370375.0,1619567.0,1662130.0,1772637.0,1835843.0,2090427.0,1953370.0,2076194.0,2219089.0
50248,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5312,Area harvested,ha,1877800.0,1925219.0,1992435.0,...,6215085.0,6377100.0,6423774.0,6456448.0,6578776.0,6792359.0,6989468.0,7030316.0,7043245.0,7233314.0
50249,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5419,Yield,hg/ha,66297.0,67612.0,68080.0,...,115100.0,113551.0,114497.0,116388.0,115156.0,117847.0,118811.0,117457.0,116865.0,117018.0
50250,5817,Net Food Importing Developing Countries,1735,Vegetables Primary,5510,Production,tonnes,12449173.0,13016875.0,13564405.0,...,71535441.0,72412363.0,73550283.0,75145043.0,75758376.0,80046102.0,83042366.0,82575747.0,82311014.0,84643108.0

In [6]:
crops = crops[:37790]
crops=crops[['Area','Item','Unit','Y2009','Y2010','Y2011','Y2012','Y2013','Y2014','Y2015','Y2016','Y2017','Y2018']]
crops

,Area,Item,Unit,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Afghanistan,"Almonds, with shell",ha,11029.0,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0
1,Afghanistan,"Almonds, with shell",hg/ha,39154.0,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0
2,Afghanistan,"Almonds, with shell",tonnes,43183.0,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0
3,Afghanistan,"Anise, badian, fennel, coriander",ha,17748.0,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25638.0,27582.0,25785.0
4,Afghanistan,"Anise, badian, fennel, coriander",hg/ha,6203.0,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,7037.0,6954.0,7036.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
37785,Zimbabwe,"Treenuts, Total",hg/ha,12282.0,12727.0,12688.0,15200.0,17700.0,15254.0,16099.0,17000.0,17598.0,18185.0
37786,Zimbabwe,"Treenuts, Total",tonnes,3070.0,4073.0,5075.0,6080.0,7080.0,4884.0,6418.0,6531.0,6348.0,6437.0
37787,Zimbabwe,Vegetables Primary,ha,29519.0,31281.0,31318.0,30547.0,30547.0,31582.0,32636.0,33224.0,33683.0,34082.0
37788,Zimbabwe,Vegetables Primary,hg/ha,71327.0,70523.0,66161.0,75405.0,75405.0,73753.0,72439.0,72350.0,72445.0,72661.0
37789,Zimbabwe,Vegetables Primary,tonnes,210553.0,220604.0,207204.0,230340.0,230340.0,232931.0,236411.0,240378.0,244017.0,247640.0

# Question 1 What are the top 5 high demand food by referring to food balance datasets?

In [7]:
frames = [food_balance,food_balance2]
food_balance=pd.concat(frames)
food_balance.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2009,2009,1000 tonnes,4538.0,S,Standardized data
1,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2010,2010,1000 tonnes,4605.0,S,Standardized data
2,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2011,2011,1000 tonnes,4711.0,S,Standardized data
3,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2012,2012,1000 tonnes,4810.0,S,Standardized data
4,FBSH,Food Balances (old methodology and population),2,Afghanistan,5142,Food,2511,Wheat and products,2013,2013,1000 tonnes,4895.0,S,Standardized data

In [8]:
food_balance.iloc[food_balance['Value'].argsort()[-3:]]

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
13153,FBS,New Food Balances,351,China,5142,Food,2605,"Vegetables, Other",2017,2017,1000 tonnes,450576.0,A,"Aggregate, may include official, semi-official..."
14491,FBS,New Food Balances,41,"China, mainland",5142,Food,2605,"Vegetables, Other",2018,2018,1000 tonnes,451702.0,Im,FAO data based on imputation methodology
13154,FBS,New Food Balances,351,China,5142,Food,2605,"Vegetables, Other",2018,2018,1000 tonnes,455116.0,A,"Aggregate, may include official, semi-official..."

In [9]:
highest_demand_crops = food_balance.groupby('Item')['Value'].agg('sum').nlargest(5)
highest_demand_crops

Item
Vegetables, Other          11769967.0
Milk - Excluding Butter     6272191.0
Rice and products           6125966.0
Wheat and products          5568366.0
Potatoes and products       2965840.0
Name: Value, dtype: float64

### Then, we take the top 3 high demand crops for further analysis.

# Question 2 What is the total, average and median of selected crops productions?

In [10]:
crops.head()

,Area,Item,Unit,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Afghanistan,"Almonds, with shell",ha,11029.0,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0
1,Afghanistan,"Almonds, with shell",hg/ha,39154.0,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0
2,Afghanistan,"Almonds, with shell",tonnes,43183.0,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0
3,Afghanistan,"Anise, badian, fennel, coriander",ha,17748.0,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25638.0,27582.0,25785.0
4,Afghanistan,"Anise, badian, fennel, coriander",hg/ha,6203.0,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,7037.0,6954.0,7036.0

In [11]:
#to know what kind of crops appeared in datasets
crops['Item'].unique()

array(['Almonds, with shell', 'Anise, badian, fennel, coriander',
       'Apples', 'Apricots', 'Barley', 'Berries nes', 'Figs',
       'Fruit, citrus nes', 'Fruit, fresh nes', 'Fruit, stone nes',
       'Grapes', 'Linseed', 'Maize', 'Melons, other (inc.cantaloupes)',
       'Millet', 'Nuts nes', 'Olives', 'Onions, dry', 'Oranges',
       'Peaches and nectarines', 'Pears', 'Pistachios', 'Plums and sloes',
       'Potatoes', 'Pulses nes', 'Rice, paddy',
       'Rice, paddy (rice milled equivalent)', 'Seed cotton',
       'Sesame seed', 'Spices nes', 'Sugar beet', 'Sugar cane',
       'Sunflower seed', 'Vegetables, fresh nes', 'Walnuts, with shell',
       'Watermelons', 'Wheat', 'Cereals, Total', 'Citrus Fruit, Total',
       'Fibre Crops Primary', 'Fruit Primary', 'Oilcrops',
       'Oilcrops, Cake Equivalent', 'Oilcrops, Oil Equivalent',
       'Pulses, Total', 'Roots and Tubers, Total', 'Sugar Crops Primary',
       'Treenuts, Total', 'Vegetables Primary', 'Beans, dry',
       'Beans, green', 'Broad beans, horse beans, dry',
       'Cabbages and other brassicas', 'Carrots and turnips',
       'Cauliflowers and broccoli', 'Cherries', 'Cherries, sour',
       'Chestnut', 'Chillies and peppers, green',
       'Cucumbers and gherkins', 'Dates', 'Eggplants (aubergines)',
       'Garlic', 'Hops', 'Leeks, other alliaceous vegetables',
       'Lemons and limes', 'Lettuce and chicory',
       'Mushrooms and truffles', 'Oats', 'Okra',
       'Onions, shallots, green', 'Peas, green',
       'Pumpkins, squash and gourds', 'Quinces', 'Rye', 'Sorghum',
       'Soybeans', 'Spinach', 'Strawberries',
       'Tangerines, mandarins, clementines, satsumas',
       'Tobacco, unmanufactured', 'Tomatoes',
       'Vegetables, leguminous nes', 'Vetches', 'Artichokes', 'Bananas',
       'Carobs', 'Chick peas', 'Chillies and peppers, dry',
       'Fruit, tropical fresh nes', 'Grapefruit (inc. pomelos)',
       'Groundnuts, with shell', 'Lentils', 'Peas, dry', 'Rapeseed',
       'Triticale', 'Cassava', 'Cocoa, beans', 'Coconuts', 'Maize, green',
       'Pineapples', 'Taro (cocoyam)', 'Yams', 'Bastfibres, other',
       'Cashew nuts, with shell', 'Castor oil seed', 'Coffee, green',
       'Flax fibre and tow', 'Oil palm fruit', 'Sisal', 'Sweet potatoes',
       'Mangoes, mangosteens, guavas', 'Asparagus', 'Avocados',
       'Canary seed', 'Cereals nes', 'Fibre crops nes', 'Lupins', 'Maté',
       'Oilseeds nes', 'Papayas', 'Peppermint', 'Safflower seed',
       'String beans', 'Tea', 'Tung nuts', 'Hazelnuts, with shell',
       'Blueberries', 'Cow peas, dry', 'Currants', 'Kiwi fruit',
       'Mustard seed', 'Persimmons', 'Raspberries', 'Buckwheat',
       'Gooseberries', 'Grain, mixed', 'Hemp tow waste', 'Poppy seed',
       'Cranberries', 'Pigeon peas', 'Plantains and others', 'Areca nuts',
       'Coir', 'Ginger', 'Jute', 'Rubber, natural', 'Sugar crops nes',
       'Fruit, pome nes', 'Chicory roots', 'Vanilla',
       'Roots and tubers nes', 'Yautia (cocoyam)', 'Fonio',
       'Karite nuts (sheanuts)', 'Kola nuts', 'Melonseed',
       'Pepper (piper spp.)', 'Nutmeg, mace and cardamoms',
       'Brazil nuts, with shell', 'Pyrethrum, dried', 'Quinoa',
       'Cashewapple', 'Gums, natural', 'Ramie', 'Cassava leaves',
       'Hempseed', 'Bambara beans', 'Cinnamon (cannella)', 'Cloves',
       'Tallowtree seed', 'Agave fibres nes', 'Manila fibre (abaca)',
       'Kapok fruit', 'Jojoba seed'], dtype=object)

In [12]:
crops = crops.fillna(0)

In [14]:
filter_column = list(crops)
#print(filter_column)
filter_column.remove('Area')
filter_column.remove('Item')
filter_column.remove('Unit')
#print(filter_column)

In [15]:
crops['sum_crops'] = crops[filter_column].sum(axis=1)

In [16]:
crops.head()

,Area,Item,Unit,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,sum_crops
0,Afghanistan,"Almonds, with shell",ha,11029.0,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,151018.0
1,Afghanistan,"Almonds, with shell",hg/ha,39154.0,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,294304.0
2,Afghanistan,"Almonds, with shell",tonnes,43183.0,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,410202.0
3,Afghanistan,"Anise, badian, fennel, coriander",ha,17748.0,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25638.0,27582.0,25785.0,225253.0
4,Afghanistan,"Anise, badian, fennel, coriander",hg/ha,6203.0,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,7037.0,6954.0,7036.0,67525.0

In [17]:
#total
total_of_vege = crops.loc[crops['Item']=='Vegetables Primary', 'sum_crops'].sum()
print("total of vegetables is ", total_of_vege)
#average
num_of_vege_apperance = len(crops.loc[crops['Item']=='Vegetables Primary'])
print("number of appearance of vegetables : ",num_of_vege_apperance)
print("average of vegetables is ", total_of_vege/num_of_vege_apperance)
#median
median_of_vege = crops.loc[crops['Item']=='Vegetables Primary', 'sum_crops'].median()
print("median of vegetables is ", median_of_vege)

total of vegetables is  16250239030.0
number of appearance of vegetables :  644
average of vegetables is  25233290.419254657
median of vegetables is  999412.0

In [18]:
#total
total_of_rice = crops.loc[crops['Item']=='Rice, paddy', 'sum_crops'].sum()
print("total of Rice, paddy is ", total_of_rice)
#average
num_of_rice_apperance = len(crops.loc[crops['Item']=='Rice, paddy'])
print("number of appearance of Rice, paddy : ",num_of_rice_apperance)
print("average of Rice, paddy is ", total_of_rice/num_of_rice_apperance)
#median
median_of_rice = crops.loc[crops['Item']=='Rice, paddy', 'sum_crops'].median()
print("median of Rice, paddy is ", median_of_rice)

total of Rice, paddy is  11440588049.0
number of appearance of Rice, paddy :  392
average of Rice, paddy is  29185173.594387755
median of Rice, paddy is  469451.5

In [19]:
#total
total_of_Wheat = crops.loc[crops['Item']=='Wheat', 'sum_crops'].sum()
print("total of Wheat is ", total_of_Wheat)
#average
num_of_Wheat_apperance = len(crops.loc[crops['Item']=='Wheat'])
print("number of appearance of Wheat : ",num_of_Wheat_apperance)
print("average of Wheat is ", total_of_Wheat/num_of_Wheat_apperance)
#median
median_of_Wheat = crops.loc[crops['Item']=='Wheat', 'sum_crops'].median()
print("median of Wheat is ", median_of_Wheat)

total of Wheat is  10856342532.0
number of appearance of Wheat :  401
average of Wheat is  27073173.396508727
median of Wheat is  426472.0

# Question 3 What are the countries with crop production of each type of selected crops lower than the median?

In [20]:
vege = crops.loc[(crops['Item']=='Vegetables Primary') & (crops['sum_crops']<median_of_vege),'Area']
print(vege.unique())
print(len(vege),"out of total countries lower than median")

['Afghanistan' 'Albania' 'American Samoa' 'Angola' 'Antigua and Barbuda'
 'Armenia' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belgium-Luxembourg' 'Belize'
 'Benin' 'Bermuda' 'Bhutan' 'Bolivia (Plurinational State of)'
 'Bosnia and Herzegovina' 'Botswana' 'Brunei Darussalam' 'Bulgaria'
 'Burkina Faso' 'Burundi' 'Cabo Verde' 'Cambodia' 'Cameroon' 'Canada'
 'Cayman Islands' 'Central African Republic' 'Chad' 'Chile'
 'China, Hong Kong SAR' 'China, Macao SAR' 'Comoros' 'Congo'
 'Cook Islands' 'Costa Rica' "Côte d'Ivoire" 'Croatia' 'Cyprus' 'Czechia'
 'Czechoslovakia' 'Democratic Republic of the Congo' 'Denmark' 'Djibouti'
 'Dominica' 'Dominican Republic' 'Ecuador' 'El Salvador' 'Eritrea'
 'Estonia' 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Fiji' 'Finland'
 'French Guyana' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Ghana'
 'Greece' 'Grenada' 'Guadeloupe' 'Guam' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland'
 'Indonesia' 'Ireland' 'Israel' 'Jamaica' 'Jordan' 'Kiribati' 'Kuwait'
 'Kyrgyzstan' "Lao People's Democratic Republic" 'Latvia' 'Lebanon'
 'Lesotho' 'Liberia' 'Libya' 'Lithuania' 'Luxembourg' 'Madagascar'
 'Malawi' 'Malaysia' 'Maldives' 'Malta' 'Martinique' 'Mauritania'
 'Mauritius' 'Micronesia (Federated States of)' 'Mongolia' 'Montenegro'
 'Montserrat' 'Mozambique' 'Namibia' 'Nauru' 'Netherlands' 'New Caledonia'
 'New Zealand' 'Nicaragua' 'Nigeria' 'Niue' 'North Macedonia' 'Norway'
 'Oman' 'Pacific Islands Trust Territory' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Philippines' 'Portugal' 'Puerto Rico'
 'Qatar' 'Republic of Moldova' 'Réunion' 'Rwanda' 'Saint Kitts and Nevis'
 'Saint Lucia' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Samoa' 'Sao Tome and Principe'
 'Saudi Arabia' 'Senegal' 'Serbia' 'Serbia and Montenegro' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Sudan' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Sweden' 'Switzerland' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Tonga' 'Trinidad and Tobago' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'United Arab Emirates' 'United Republic of Tanzania' 'Uruguay' 'USSR'
 'Vanuatu' 'Venezuela (Bolivarian Republic of)'
 'Wallis and Futuna Islands' 'Yemen' 'Yugoslav SFR' 'Zambia' 'Zimbabwe']
322 out of total countries lower than median

In [21]:
rice = crops.loc[(crops['Item']=='Rice, paddy') & (crops['sum_crops']<median_of_rice),'Area']
print(rice.unique())
print(len(rice),"out of total countries lower than median")

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Armenia' 'Azerbaijan'
 'Bangladesh' 'Belize' 'Benin' 'Bhutan' 'Bolivia (Plurinational State of)'
 'Brunei Darussalam' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia'
 'Cameroon' 'Central African Republic' 'Chad' 'Chile'
 'China, Hong Kong SAR' 'Comoros' 'Congo' 'Costa Rica' "Côte d'Ivoire"
 'Cuba' 'Democratic Republic of the Congo' 'Dominican Republic' 'Ecuador'
 'El Salvador' 'Eswatini' 'Ethiopia' 'Fiji' 'France' 'French Guyana'
 'Gabon' 'Gambia' 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'India'
 'Iran (Islamic Republic of)' 'Iraq' 'Jamaica' 'Kazakhstan' 'Kenya'
 'Kyrgyzstan' "Lao People's Democratic Republic" 'Liberia' 'Madagascar'
 'Malawi' 'Malaysia' 'Mali' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Morocco' 'Mozambique' 'Myanmar'
 'Nepal' 'New Zealand' 'Niger' 'Nigeria' 'North Macedonia'
 'Pacific Islands Trust Territory' 'Pakistan' 'Panama' 'Papua New Guinea'
 'Philippines' 'Portugal' 'Puerto Rico' 'Republic of Moldova' 'Réunion'
 'Romania' 'Rwanda' 'Saint Vincent and the Grenadines' 'Saudi Arabia'
 'Senegal' 'Sierra Leone' 'Solomon Islands' 'Somalia' 'South Africa'
 'South Sudan' 'Sri Lanka' 'Sudan' 'Sudan (former)' 'Suriname'
 'Syrian Arab Republic' 'Tajikistan' 'Thailand' 'Timor-Leste' 'Togo'
 'Trinidad and Tobago' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Republic of Tanzania' 'USSR' 'Venezuela (Bolivarian Republic of)'
 'Yugoslav SFR' 'Zambia' 'Zimbabwe']
196 out of total countries lower than median

In [22]:
wheat = crops.loc[(crops['Item']=='Wheat') & (crops['sum_crops']<median_of_Wheat),'Area']
print(wheat.unique())
print(len(wheat),"out of total countries lower than median")

['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Azerbaijan' 'Bangladesh' 'Belarus' 'Belgium-Luxembourg'
 'Bhutan' 'Bolivia (Plurinational State of)' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Bulgaria' 'Burundi' 'Cameroon' 'Canada' 'Chad'
 'China, Taiwan Province of' 'Colombia' 'Cyprus' 'Czechoslovakia'
 "Democratic People's Republic of Korea"
 'Democratic Republic of the Congo' 'Ecuador' 'Eritrea' 'Estonia'
 'Eswatini' 'Ethiopia' 'Ethiopia PDR' 'Finland' 'Georgia' 'Greece'
 'Guatemala' 'Honduras' 'India' 'Iran (Islamic Republic of)' 'Iraq'
 'Israel' 'Italy' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya' 'Kuwait'
 'Kyrgyzstan' 'Latvia' 'Lebanon' 'Lesotho' 'Libya' 'Luxembourg'
 'Madagascar' 'Malawi' 'Mali' 'Malta' 'Mauritania' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'New Caledonia'
 'Niger' 'Nigeria' 'North Macedonia' 'Norway' 'Oman' 'Pakistan'
 'Palestine' 'Paraguay' 'Peru' 'Portugal' 'Qatar' 'Republic of Korea'
 'Republic of Moldova' 'Romania' 'Russian Federation' 'Rwanda' 'Serbia'
 'Serbia and Montenegro' 'Slovenia' 'Somalia' 'South Africa' 'South Sudan'
 'Spain' 'Sudan' 'Sudan (former)' 'Syrian Arab Republic' 'Tajikistan'
 'Thailand' 'Tunisia' 'Turkey' 'Turkmenistan' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Republic of Tanzania'
 'United States of America' 'Uruguay' 'USSR'
 'Venezuela (Bolivarian Republic of)' 'Yemen' 'Yugoslav SFR' 'Zambia'
 'Zimbabwe']
200 out of total countries lower than median

In [23]:
def intersection(lst1, lst2,lst3): 
    return list(set(lst1) & set(lst2) & set(lst3))

##print out countries that having three high semand crops lower than median
print(intersection(vege,rice,wheat))

['Uganda', 'Somalia', 'Eswatini', 'Ecuador', 'Turkmenistan', 'Bhutan', 'Republic of Moldova', 'Afghanistan', 'Angola', 'Ethiopia', 'Burundi', 'Thailand', 'United Republic of Tanzania', 'Democratic Republic of the Congo', 'Sudan', 'North Macedonia', 'Mauritania', 'Cameroon', 'Kyrgyzstan', 'Sudan (former)', 'Bulgaria', 'Albania', 'USSR', 'Mozambique', 'Bangladesh', 'Greece', 'Venezuela (Bolivarian Republic of)', 'Rwanda', 'Azerbaijan', 'Armenia', 'South Sudan', 'Madagascar', 'Guatemala', 'Zambia', 'Chad', 'Zimbabwe', 'Nigeria', 'Tajikistan', 'Honduras', 'Malawi', 'Portugal', 'Yugoslav SFR', 'Bolivia (Plurinational State of)']

# Question 4 What are the top 5 countries that harvest the most of the selected crops in the world?

In [24]:
country_vege = crops[crops['Item']=='Vegetables Primary'].groupby('Area')['sum_crops'].sum()
country_vege.nlargest(5)

Area
China                       5.272938e+09
China, mainland             5.247648e+09
India                       1.232855e+09
United States of America    3.558716e+08
Turkey                      2.387987e+08
Name: sum_crops, dtype: float64

In [25]:
country_rice = crops[crops['Item']=='Rice, paddy'].groupby('Area')['sum_crops'].sum()
country_rice.nlargest(5)

Area
China              2.376939e+09
China, mainland    2.357722e+09
India              2.008078e+09
Indonesia          8.686578e+08
Bangladesh         6.304720e+08
Name: sum_crops, dtype: float64

In [27]:
country_wheat = crops[crops['Item']=='Wheat'].groupby('Area')['sum_crops'].sum()
country_wheat.nlargest(5)

Area
China                       1.492475e+09
China, mainland             1.492400e+09
India                       1.207451e+09
Russian Federation          8.513563e+08
United States of America    7.503261e+08
Name: sum_crops, dtype: float64

# 5. i. What types of crops are planted in each climate zone?

In [28]:
climate.head()

,Country,Climate Zone,Description
0,Afghanistan,arid to semiarid,cold winters and hot summers
1,Akrotiri,temperate,"Mediterranean with hot, dry summers and cool w..."
2,Albania,mild temperate,"cool, cloudy, wet winters; hot, clear, dry sum..."
3,Algeria,arid to semiarid,"mild, wet winters with hot, dry summers along ..."
4,American Samoa,tropical marine,moderated by southeast trade winds; annual rai...

In [29]:
#climate['Country']==crops['Area']
#extract Area and Item from crops
#merge with climate
crops_sub = crops[['Area','Item']]
crops_sub.columns=['Country','Item']

In [30]:
result3= pd.merge(climate,crops_sub,how="inner",on=['Country'])
result3

,Country,Climate Zone,Description,Item
0,Afghanistan,arid to semiarid,cold winters and hot summers,"Almonds, with shell"
1,Afghanistan,arid to semiarid,cold winters and hot summers,"Almonds, with shell"
2,Afghanistan,arid to semiarid,cold winters and hot summers,"Almonds, with shell"
3,Afghanistan,arid to semiarid,cold winters and hot summers,"Anise, badian, fennel, coriander"
4,Afghanistan,arid to semiarid,cold winters and hot summers,"Anise, badian, fennel, coriander"
...,...,...,...,...
30454,Zimbabwe,tropical,moderated by altitude; rainy season (November ...,"Treenuts, Total"
30455,Zimbabwe,tropical,moderated by altitude; rainy season (November ...,"Treenuts, Total"
30456,Zimbabwe,tropical,moderated by altitude; rainy season (November ...,Vegetables Primary
30457,Zimbabwe,tropical,moderated by altitude; rainy season (November ...,Vegetables Primary
30458,Zimbabwe,tropical,moderated by altitude; rainy season (November ...,Vegetables Primary

In [31]:
df = result3.groupby(by='Climate Zone',as_index=True)['Item']
df = pd.DataFrame(df,columns=['Climate Zone','Item'])
df

,Climate Zone,Item
0,Mediterranean,"15927 Almonds, with shell 1592..."
1,Mediterranean,"3376 Almonds, with shell 3377..."
2,Mediterranean and continental,"6656 Almonds, with shell 6657 Almonds, w..."
3,Mediterranean climate on the coast,"25231 Almonds, with shell 25232 Almonds,..."
4,"Mediterranean climate,",18719 Apples 18720 ...
...,...,...
67,varies from tropical in east to dry desert in ...,"21736 Almonds, with shell 2173..."
68,varies from tropical to desert,18271 Agave fibres nes 18272 Agave...
69,varies with terrain,4619 Apricots 4620 A...
70,warm and pleasant,"10084 Almonds, with shell 1008..."
71,warm temperate,29376 Apples 29377 ...

# ii. Which climate zones are suitable for the selected crops?

In [32]:
#vegetables

df2 = result3[result3['Item']=='Vegetables Primary'].groupby('Climate Zone')['Item']
df2 = pd.DataFrame(df2,columns=['Climate Zone','Item'])
df2['Climate Zone'].unique()

array(['Mediterranean', 'Mediterranean ', 'Mediterranean and continental',
       'Mediterranean climate on the coast', 'Mediterranean climate, ',
       'arid', 'arid continental', 'arid to semiarid', 'cold and wet',
       'cold temperate', 'cold winters', 'continental', 'desert',
       'desert; hot, dry; rainfall sparse and erratic', 'dry',
       'dry desert', 'equatorial', 'extremely diverse', 'harsh',
       'highland continental', 'hot and dry',
       'hot with seasonal rainfall ', 'in the north', 'maritime',
       'maritime temperate', 'metropolitan',
       'midlatitude continental, hot summers, mild winters',
       'mild temperate', 'mostly arid desert', 'mostly desert',
       'mostly hot, dry desert', 'mostly semiarid',
       'predominantly Mediterranean', 'principally desert', 'semiarid',
       'sub-tropical', 'subtropical', 'subtropical ',
       'subtropical desert', 'subtropical to arid',
       'subtropical to temperate', 'subtropical, temperate', 'temperate',
       'temperate ', 'temperate along coast', 'temperate and marine',
       'temperate continental', 'temperate maritime',
       'temperate with sharp regional contrasts',
       'temperate, subtropical, tropical', 'tropical', 'tropical ',
       'tropical and subtropical', 'tropical in lowlands',
       'tropical marine', 'tropical maritime', 'tropical monsoon',
       'tropical oceanic', 'tropical to subtropical',
       'tropical with a monsoonal pattern', 'tropical, temperate',
       'tropical; hot, humid; rainy season (May to November) has strong southeast winds; dry season (December to April) dominated by hot, dry, harmattan wind',
       'varies', 'varies from temperate', 'varies from temperate ',
       'varies from tropical in east to dry desert in west',
       'varies from tropical to desert', 'varies with terrain',
       'warm and pleasant', 'warm temperate'], dtype=object)

In [33]:
df3 = result3[result3['Item']=='Rice, paddy'].groupby('Climate Zone')['Item']
df3 = pd.DataFrame(df3,columns=['Climate Zone','Item'])
df3['Climate Zone'].unique()

array(['Mediterranean', 'arid continental', 'arid to semiarid',
       'continental', 'desert', 'dry', 'equatorial', 'extremely diverse',
       'harsh', 'highland continental', 'hot and dry',
       'hot with seasonal rainfall ', 'maritime temperate',
       'metropolitan',
       'midlatitude continental, hot summers, mild winters',
       'mild temperate', 'mostly desert', 'mostly hot, dry desert',
       'mostly semiarid', 'predominantly Mediterranean',
       'principally desert', 'semiarid', 'sub-tropical',
       'subtropical desert', 'subtropical to arid',
       'subtropical to temperate', 'subtropical, temperate', 'temperate',
       'temperate continental', 'temperate with sharp regional contrasts',
       'tropical', 'tropical ', 'tropical and subtropical',
       'tropical in lowlands', 'tropical marine', 'tropical maritime',
       'tropical monsoon', 'tropical to subtropical',
       'tropical, temperate',
       'tropical; hot, humid; rainy season (May to November) has strong southeast winds; dry season (December to April) dominated by hot, dry, harmattan wind',
       'varies', 'varies from temperate',
       'varies from tropical in east to dry desert in west',
       'varies from tropical to desert', 'varies with terrain',
       'warm temperate'], dtype=object)

In [34]:
df4 = result3[result3['Item']=='Wheat'].groupby('Climate Zone')['Item']
df4 = pd.DataFrame(df4,columns=['Climate Zone','Item'])
df4['Climate Zone'].unique()

array(['Mediterranean', 'Mediterranean ', 'Mediterranean and continental',
       'Mediterranean climate on the coast', 'Mediterranean climate, ',
       'arid', 'arid continental', 'arid to semiarid', 'cold temperate',
       'cold winters', 'continental', 'desert',
       'desert; hot, dry; rainfall sparse and erratic', 'dry',
       'dry desert', 'equatorial', 'extremely diverse', 'harsh',
       'highland continental', 'hot and dry',
       'hot with seasonal rainfall ', 'in the north', 'maritime',
       'maritime temperate', 'metropolitan',
       'midlatitude continental, hot summers, mild winters',
       'mild temperate', 'mostly arid desert', 'mostly desert',
       'mostly hot, dry desert', 'mostly semiarid',
       'predominantly Mediterranean', 'principally desert', 'semiarid',
       'sub-tropical', 'subtropical desert', 'subtropical to arid',
       'subtropical to temperate', 'subtropical, temperate', 'temperate',
       'temperate ', 'temperate along coast', 'temperate and marine',
       'temperate continental', 'temperate maritime',
       'temperate with sharp regional contrasts',
       'temperate, subtropical, tropical', 'tropical', 'tropical ',
       'tropical to subtropical', 'tropical, temperate', 'varies',
       'varies from temperate', 'varies from temperate ',
       'varies from tropical in east to dry desert in west',
       'varies from tropical to desert', 'varies with terrain',
       'warm and pleasant', 'warm temperate'], dtype=object)

## Question 6 i. What are the total, average and median of fertilizers usage of selected countries?

## ii. What is the relationship between fertilizers usage and total of each type of crops production?

## Question 7 i. What are the total, average and median of pesticides usage of selected countries?

## ii. What is the relationship between pesticides usage and total of each type of crops production of selected countries?

## by focusing on Vegetables, Rice,Paddy and Wheat
## Question 8 i. What is the relationship between food consumption and crop production?

## ii. Will an increase in food consumption increase the crop production?

## Question 9

## Question 10

## i. Will the crop production be enough for food consumption in the future 5 years by calculating in tonnes?

In [41]:
#crops_filtered = crops[crops['Item' == vege, rice and wheat]] [top 5 countries]
list_item = ['Vegetables Primary', 'Rice, paddy','Wheat'] 
#crops['Item'] = crops['Item'].apply(lambda s:s.astype(str))
#crops['Area'] = crops['Item'].apply(lambda s:s.astype(str))
#crops_filtered = np.logical_and(crops['Item']=='Vegetables Primary',crops['Area'] == 'China')
crops_filtered = crops[(crops['Item']=='Vegetables Primary') & ((crops['Area'] == 'China') | (crops['Area'] == 'China, mainland') | (crops['Area'] == 'India')|(crops['Area'] == 'United States of America')|(crops['Area'] == 'Turkey')) & (crops['Unit']=="tonnes")]
crops_filtered2 = crops[(crops['Item']=='Rice, paddy') & ((crops['Area'] == 'China') | (crops['Area'] == 'China, mainland') | (crops['Area'] == 'India')|(crops['Area'] == 'Indonesia')|(crops['Area'] == 'Bangladesh')) & (crops['Unit']=="tonnes")]
crops_filtered3 = crops[(crops['Item']=='Wheat') & ((crops['Area'] == 'China') | (crops['Area'] == 'China, mainland') | (crops['Area'] == 'India')|(crops['Area'] == 'United States of America')|(crops['Area'] == 'Russian Federation')) & (crops['Unit']=="tonnes")]
pdList=[crops_filtered,crops_filtered2,crops_filtered3]
new_crops_filtered= pd.concat(pdList)
new_crops_filtered.drop('sum_crops',axis=1,inplace=True)
new_crops_filtered

,Area,Item,Unit,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
6756,China,Vegetables Primary,tonnes,445449901.0,459774772.0,477851683.0,486181756.0,495795698.0,506738466.0,533325320.0,542998948.0,545756704.0,551556530.0
7236,"China, mainland",Vegetables Primary,tonnes,443146776.0,457435300.0,475378572.0,483885365.0,493421702.0,504291171.0,531015770.0,540610759.0,543245774.0,548993011.0
15969,India,Vegetables Primary,tonnes,90176120.0,99349826.0,105711720.0,112932800.0,119592200.0,125142701.0,118394582.0,123118917.0,128373327.0,128243182.0
34345,Turkey,Vegetables Primary,tonnes,21234448.0,20655850.0,21978709.0,22043387.0,22794099.0,22684068.0,23696207.0,24421408.0,24977476.0,24137627.0
35746,United States of America,Vegetables Primary,tonnes,36639165.0,34723852.0,33970839.0,35260078.0,33637343.0,35661041.0,34473798.0,34137921.0,32085784.0,31740872.0
2418,Bangladesh,"Rice, paddy",tonnes,48144000.0,50061200.0,50627000.0,50497000.0,51534000.0,51806593.0,51805464.0,50452866.0,54148000.0,56417319.0
6625,China,"Rice, paddy",tonnes,196681177.0,197212003.0,202667169.0,205936129.0,205201696.0,208239610.0,213723732.0,212681776.0,214430049.0,214078796.0
7108,"China, mainland","Rice, paddy",tonnes,195103008.0,195760992.0,201000896.0,204235900.0,203612192.0,206507400.0,212142000.0,211094000.0,212676000.0,212129000.0
15880,India,"Rice, paddy",tonnes,135672992.0,143963008.0,157900000.0,157800000.0,159200000.0,157200000.0,156540000.0,163700000.0,168500000.0,172580000.0
16105,Indonesia,"Rice, paddy",tonnes,64398888.0,66469392.0,65756904.0,69056128.0,71279712.0,70846465.0,75397841.0,79354767.0,81148594.0,83037000.0
6720,China,Wheat,tonnes,115115364.0,115186178.0,117414034.0,121030059.0,121930527.0,126215211.0,132646335.0,133277091.0,134340746.0,131447224.0
7200,"China, mainland",Wheat,tonnes,115115000.0,115181000.0,117410000.0,121023200.0,121926400.0,126208400.0,132639000.0,133271000.0,134334000.0,131440500.0
15933,India,Wheat,tonnes,80679400.0,80803600.0,86874000.0,94880000.0,93510000.0,95850000.0,86530000.0,92290000.0,98510000.0,99700000.0
28386,Russian Federation,Wheat,tonnes,61739751.0,41507581.0,56239994.0,37719640.0,52090797.0,59711382.0,61785799.0,73345679.0,86002542.0,72136149.0
35710,United States of America,Wheat,tonnes,60365728.0,60062408.0,54418808.0,61677384.0,58104610.0,55147120.0,55839540.0,62831507.0,47379810.0,51286540.0

In [ ]:
food_balance

## ii. What type of crops will be highly demanded in the future?